/* The text styles  */
.para_p , p {
    color: #121212; 
    font-size :14px;
    padding:5px ;
    align-items : center; 
}

.container_para {
    display :flex ; 
    flex-direction: column ; 
    gap: 10px ;
    align-items :center ; 
    justify-content: center ;
}

.about {
    align-content: center;
    text-align: center;
    font-weight: 600;
}


.paragraph {
    margin:1px; 
    padding:1px;
    border-radius:8px;
}


.container_para img {
    text-align : center ; 
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
    align-items : center ; 
}


.content_about {
    margin-bottom: 30px ; 
    padding:10px; 
    background-color: hsl(225, 23%, 24%);
    padding-bottom: 40px;
}


.content_about h2 , p{
    color : hsl(0, 0%, 93%); 
    margin: 20px; 
    font-size : 20px;
}


@media (min-width: 1224px) {

   .container_para {
    display :flex ; 
    flex-direction: row; 
    gap : 90px;
    margin:auto 20px; 
    }
    
    .content_about {
        margin-top : 90px ; 
    }
    
     .container_para  img {
        width: 230px;
        height: 240px ;
        margin-top: 30px; 
     }


    .container_para p {
        max-width: 660px; 
        font-size: 17px; 
    }


    .about {
        text-align: center;
        align-items: center;

    }
}