/* The text styles  */
.para_p , p {
    color: #121212; 
    font-size :14px;
    padding:5px ;
    align-items : center; 


    animation: waveFloat 4s ease-in-out infinite;
}

.cv-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.cv-btn:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.btn-cv {
    text-align : center ; 
}

/* Décalage pour créer la vague */
.para_p p:nth-child(1) { animation-delay: 0s; }
.para_p p:nth-child(2) { animation-delay: 0.4s; }
.para_p p:nth-child(3) { animation-delay: 0.8s; }
.para_p p:nth-child(4) { animation-delay: 1.2s; }

@keyframes waveFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.container_para {
    display :flex ; 
    flex-direction: column ; 
    gap: 10px ;
    align-items :center ; 
    justify-content: center ;
}

.about {
    align-content: center;
    text-align: center;
    font-weight: 600;
}


.paragraph {
    margin:1px; 
    padding:1px;
    border-radius:8px;
}


.container_para img {
    text-align : center ; 
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
    align-items : center ; 
}


.content_about {
    margin-bottom: 30px ; 
    padding:10px; 
    background-color: hsl(225, 23%, 24%);
    padding-bottom: 40px;
}


.content_about h2 , p{
    color : hsl(0, 0%, 93%); 
    margin: 20px; 
    font-size : 20px;
}


@media (min-width: 1224px) {

   .container_para {
    display :flex ; 
    flex-direction: row; 
    gap : 90px;
    margin:auto 20px; 
    }
    
    .content_about {
        margin-top : 90px ; 
    }
    
     .container_para img {
        width: 210px;
        height: 220px ;
        margin-top: 30px; 
     }


    .container_para p {
        max-width: 660px; 
        font-size: 17px; 
    }


    .about {
        text-align: center;
        align-items: center;

    }
}