/* The footer styles  */
.contact_group a{
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, transform 0.2s ease;
}

.contact_group {
    display : flex;
    flex-direction : row;
    gap: 25px;
    align-items  : center ;
    justify-content: center;
    text-align : center;
}

.contact_group a:hover {
    background: #e0b300;
    transform: translateY(-2px);
}


footer {
    text-align: center;
    border-radius:8px;
    margin-top:120px;
    background-color: #0f172a;
    color: #ffffff;
    padding: 4rem 0 2rem;
    margin-top: 50px;
}