/* The form styles  */
.form_section {
    background-color: #f3f4f6;
    margin-top: 100px;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.adressList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.adressList p {
    font-size: 17px;
}

.adressList i {
    color: #e0b300;
}


.adress_content {
    margin: 15px;
    padding: 15px;
}

.adress {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #E2EBF0;
    padding: 10px;
    border-radius: 10px;
    width:310px;
    margin-left: 10px;
}


.adress_content p {
   color: #6b7280;
   margin-top: 10px;
}


.adress_content h2 {
   color: #1e3a8a;
   margin-top: 10px;
}


.contact_form {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 24px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding-bottom: 30px;
    border: 1px solid #E2EBF0;
    border-radius: 10px;
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
}


.form_group {
    display: flex;
    flex-direction: column;
}


label {
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}


input, 
textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.9rem;
}

input:focus, 
textarea:focus {
    border-color: #0070f3;
}


textarea {
    padding-bottom : 120px;
}


.btn_send {
    background-color: #0070f3;
    color: white;
    border: none;
    font-size: 14px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


.btn_send:hover {
    background-color: #0059c9;
}


.call_action p {
   color: #6b7280;
   margin-top: 30px;
}


.call_action h2 {
   color: #1e3a8a;
   position: relative;
   top: 10px;
   font-weight: 600;
   position: relative;
}


.call_action h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 30%;
  height: 2px;
  background-color: #FFC107; 
  border-radius: 2px;
}


.call_action {
    align-items: center;
}


.call_action {
    text-align : center ; 
}


@media (min-width: 1224px)  {

    .call_action p {
        font-size: 1.4rem;
        align-items: center;
    }
    

    .formulaire {
        position: relative;
        bottom: 17px;
    
    }

    .form_section {
        margin-bottom : 30px; 
    }

    .call_action {
        margin-bottom: 30px;
    }

   .form-container  {
    flex-direction: row;
    justify-content: space-evenly;
     margin-top: 30px;
   }


  .adress {
    width: 350px;
    margin: 20px;
}


.call_action h2::after {
  width: 10%;
}
}