/* The form styles  */
.form_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.contact_form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

input, 
textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.9rem;
}

input:focus, 
textarea:focus {
    border-color: #0070f3;
}

textarea {
    padding-bottom : 120px;
}

.btn_send {
    background-color: #0070f3;
    color: white;
    border: none;
    font-size: 14px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn_send:hover {
    background-color: #0059c9;
}

.call_action {
    align-items: center;
}


@media (min-width: 1224px)  {
    .call_action p {
        font-size: 2.4rem;
        align-items: center;
    }
    
    .contact_form {
        margin-top:45px;
    }
    .form_section {
        margin-top:50px;
    }
}