/* The navigation styles  */
*{
  margin: 0; 
  padding: 0;
}

.section-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position : relative; 
    bottom : 15px; 
}

.navigation {
  display: flex;
  flex-direction : row ; 
  justify-content:space-between;
  gap : 20px; 
  border-radius:10px;
  padding: 1rem;
  margin : 20px auto;
  padding-left:19px;
  padding-right:10px;
  transition: transform 0.3s ease-in-out; 
}

.menu {
  display: none;
}

a {
text-decoration : none ; 
font-size : 18px ; 
color : #121212; 
transition: color 0.3s;
position: relative;
padding-bottom: 5px;
}

a:hover {
  color: #00bcd4;
}


.underline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    height: 2px;
    background-color: #F59E0B;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


.underline:hover::after {
    transform: scaleX(1);
}


.links {
  display:flex; 
  flex-direction:row; 
  gap:30px;
  margin-right:30px;
  margin-top:10px;
}

.logo img {
  margin-left: 50px;
  width:100%;
  border-radius: 50%;
  height: 40px;
  width:40px;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.back-cross {
  display:none ;
}


@media (max-width: 768px) {

 .links{
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 2px;
  left:10px;
 
  
  padding:30px;
  z-index: 1000;
  width : 354px; 
  border-radius:15px;
  align-content: center;


  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

nav {
 text-align:center; 
 align-items:center;
}

.back-cross {
  position:absolute; 
  right:20px;
  top:10px;
  cursor:pointer;
  display:block;
}

.links a {
  font-size: 18px;
  color: #3B56C9;
}


.logo img  {
  margin-left:10px;
}

.links.open {
  display: flex; 
}

.menu {
  display: block;
  margin-right:15px;
  cursor:pointer;
}

}