/* The navigation styles  */
*{
  margin: 0; 
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction : row ; 
  justify-content:space-between;
  background-color: hsl(226, 25%, 17%);
  gap : 20px; 
  width: 97%;
  border-radius:10px;
  padding: 1rem;
  z-index:1000;
  margin : 20px auto;
  padding-left:19px;
  padding-right:10px;
  transition: transform 0.3s ease-in-out; 
  position:relative;
  bottom:17px;
}

.menu {
  display: none;
}

a {
text-decoration : none ; 
font-size : 18px ; 
color : white ; 
transition: color 0.3s;
}

a:hover {
  color: #00bcd4;
}

.links {
  display:flex; 
  flex-direction:row; 
  gap:30px;
  margin-right:30px;
  margin-top:10px;
}

.logo img {
  margin-left: 50px;
  width:100%;
  border-radius: 50%;
  height: 40px;
  width:40px;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.back-cross {
  display:none ;
}


@media (max-width: 768px) {

 .links{
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 2px;
  left:10px;
  background: #0F172A;
  padding:30px;
  z-index: 1000;
  width : 280px; 
  border-radius:15px;
  align-content: center;
}


nav {
 text-align:center; 
 align-items:center;
}

.back-cross {
  position:absolute; 
  right:20px;
  top:10px;
  cursor:pointer;
  display:block;
}

.links a {
  position:relative ;
  right:85px;
  font-size: 18px;
}


.nav-links {
  background-color: hsl(226, 25%, 17%);
} 

.logo img  {
  margin-left:10px;
}

 .links.open {
    display: flex; 
  }

 .navigation {
  width:87%;
  margin-left:10px;
 }

.menu {
  display: block;
  margin-left:10px;
  cursor:pointer;
}
}