/* The skills styles */
.skills_content {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
}

.skills-section {
  margin-top:70px;
}

.skills_content h3{
    color: hsl(243, 96%, 9%);
    font-size: 1.2rem;
}


.skills{
    color: #3B56C9 ;
    font-size: 1.3rem;
    text-align:center ; 
}


.animation {
  text-align:center;
}

.lottie {
    width: 90px;
    height: 90px;
    margin-left: 85px;
}

@media (min-width: 1224px)  {
    .skills_content {
        display : flex; 
        flex-direction: row;
        margin-top: 40px;
        padding: 20px;
        gap: 20px;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .skills-section {
        margin-top:90px;
    }
    .lottie {
     width: 90px;
     height: 90px;
     position: relative;
     right: 43px;
    }

    .skills {
        font-size:2rem ; 
    }

}